<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.springframework.org/tags/form">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="form">
    <!--/*@thymesVar id="loginRequest" type=""*/-->
    <form method="post" action="/login" th:object="${loginRequest}">
    <form class="login-form">
        <input type="text" name="login" required="true" placeholder="login"/>
        <input type="password" name="password" required="true" placeholder="password"/>
        <button name="submit" type="submit">login</button>
        <p class="message">Not registered? <a href="/register">Create an account</a></p>
        <p class="message"><a href="/">Navigate to main page</a></p>
    </form>
    </form>
  </div>
 </body>
</html>